@using Instart.Models
@model Teacher
@{
    ViewBag.Title = "导师详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner展示图-->
@Html.Partial("PartialBanner", Instart.Models.Enums.EnumBannerPos.Teacher)

<!--导师介绍-->
<div class="title">
    <h2>导师介绍</h2>
</div>
<div class="relative">
    <div class="maincont meester overflow">
        <div class="mee-left fl"><img src="@Model.Avatar" alt=""></div>
        <div class="mee-right fr">
            <div class="mee-info">
                <div class="stel"><a href="javascript:void(0)" onclick="ask(@Model.Id)">向TA提问</a></div>
                <dl class="mee-info-top">
                    <dt>导师背景</dt>
                    <dd><em>姓名</em><span>@Model.NameEn</span></dd>
                    <dd><em>院校背景</em><span><a href="/school/details/@Model.SchoolId">@Model.SchoolName</a></span></dd>
                    <dd><em>专业</em><span><a href="/major/details/@Model.MajorId">@(Model.MajorName) @(Model.MajorNameEn)</a></span></dd>
                    <dd>
                        <em>擅长专业</em><span>
                            @if (Model.MajorIds != null)
                            {
                                string[] ids = Model.MajorIds.Split(',');
                                string[] names = Model.MajorNames.Split(',');
                                for (int i = 0; i < ids.Length; i++)
                                {
                                    if (!String.IsNullOrEmpty(ids[i]))
                                    {
                                        <a href="/major/details/@ids[i]">@names[i] </a>
                                    }

                                }
                            }
                        </span>
                    </dd>
                </dl>
                <dl class="mee-info-bottom">
                    <dt>导师荣誉</dt>
                    <dd>@Model.Introduce</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="maincont">
    <div class="title">
        <h2>导师案例</h2>
    </div>
    <div class="caselist com-cont">
        <ul>
            @foreach (School item in ViewBag.SchoolList)
            {
                <li>
                    <div class="case-cont">
                        <div class="top"><a href="/school/details/@item.Id"><i></i><img src="@item.Logo" alt=""></a></div>
                        <dl>
                            <a href="/school/details/@item.Id">
                                <dt>@item.Name</dt>
                                <dd><span class="glaxfont">录取比例：</span> @(item.AcceptRate + "%")</dd>
                            </a>
                        </dl>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
@section Bottom{
    <script type="text/javascript">
        function ask(id) {
            layer.open({
                type: 2,
                title: '向TA提问',
                shadeClose: true,
                shade: 0.8,
                area: ['800px', '430px'],
                content: '/teacher/teacherquestion?id='+id //iframe的url
            });
        }
    </script>
}
