@using Instart.Models
@using Instart.Web2.Infrastructures
@model Major
@{
    ViewBag.Title = "专业详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner展示图-->
@Html.Partial("PartialBanner", Instart.Models.Enums.EnumBannerPos.Major)

<div class="maincont contpage overflow">
    <!--文章详情-->
    <div class="wen-left">
        <div class="list-cont list-left">
            <div class="top"><a href="#"><i></i><img src="@Model.ImgUrl" alt="" /></a></div>
            <dl>
                <dt><a href="#"><strong>@Model.Name</strong><small>@Model.NameEn</small></a></dt>
                <dd class="teac-m">@Model.Introduce</dd>
                <dd class="teac-b"><i style="display:inline-block; width:8px; height:8px; border-radius:50%; background:@Model.DivisionColor; margin-right:6px;"></i>@(Model.DivisionName) @(Model.DivisionNameEn)</dd>
            </dl>
        </div>
        <div class="list-cont list-left">
            <dl>
                <dt><a href="#"><strong>就业前景</strong><small>EMPLOYMENT PROSPECTS</small></a></dt>
                <dd class="teac-m" style="border-bottom:0;"> @Model.Prospect</dd>
            </dl>
        </div>
    </div>
    <div class="wen-right">
        <div class="claim comborder">
            <div class="comtitle">
                <dl>
                    <dt>申请要求</dt>
                    <dd>APPLICATION REQUEST</dd>
                </dl>
                <a href="javascript:void(0)" class="di" onclick="apply(@Model.Id, '@Model.Name')">申请咨询</a>
            </div>
            <div class="claimlist">
                @Html.Raw(Model.Apply)
            </div>
        </div>
        <div class="comborder">
            <div class="comtitle">
                <dl>
                    <dt>专业作品</dt>
                    <dd>SUBJECT WORKS</dd>
                </dl>
                <a href="javascript:void(0)" class="di" onclick="comment()">作品评析</a>
            </div>
            <div class="workcont">
                @foreach (Works item in ViewBag.WorkList)
                {
                    <dl>
                        <dt><a href="#"><img src="@item.ImgUrl" alt="@item.Name" /></a></dt>
                        <dd>
                            @item.Introduce
                        </dd>
                    </dl>
                }
            </div>
        </div>
    </div>
</div>
@*<div class="maincont">
        <!--成功案例-->
        <div class="title">
            <h2>成功案例</h2>
        </div>
        <div class="chenggong padding30">
            <div class="success-people com-cont noborder bd">
                <ul>
                    @foreach (Student item in ViewBag.MajorStudents)
                    {
                        <li>
                            <div class="peoplecont">
                                <div class="top"><a href="/student/details/@item.Id"><i></i><span>@item.Motto</span><img src="@item.Avatar" alt="" /></a></div>
                                <dl>
                                    <dt><a href="/student/details/@item.Id">@item.Name</a></dt>
                                    <dd class="pe1">录取专业：<a href="/major/details/@item.MajorId">@item.MajorName</a></dd>
                                    <dd class="pe2">
                                        OFFER：
                                        @if (item.SchoolIds != null)
                                        {
                                            string[] ids = item.SchoolIds.Split(',');
                                            string[] names = item.SchoolNames.Split(',');
                                            for (int i = 0; i < 1; i++)
                                            {
                                                if (!String.IsNullOrEmpty(ids[i]))
                                                {
                                                    <a href="/school/details/@ids[i]">@names[i] </a>
                                                }

                                            }
                                        }
                                    </dd>
                                </dl>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="hd mar-top">
                <a class="prev"></a>
                <ul></ul>
                <a class="next"></a>
            </div>
        </div>
    </div>*@

@section Bottom{
    <script type="text/javascript">
        $(function () {
            //申请难度特效
            $('.stars').each(function (i, n) {
                $(this).raty({
                    number: 5, //多少个星星设置
                    score: $(this).attr('flag'),
                    targetType: 'number', //类型选择，number是数字值，hint，是设置的数组值
                    path: '../../content/images',
                    size: 24,
                    starHalf: 'star-half.png',
                    starOff: 'star-off.png',
                    starOn: 'star-on.png',
                    precision: true, //是否包含小数
                    readOnly: true
                });
            });

            $(".chenggong").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "left", autoPlay: false, scroll: 4, vis: 4, trigger: "click" });
        })

        function apply(id, name) {
            layer.open({
                type: 2,
                title: '申请咨询',
                shadeClose: true,
                shade: 0.8,
                area: ['800px', '430px'],
                content: '/major/majorapply?id=' + id + "&name=" + name //iframe的url
            });
        }

        function comment() {
            layer.open({
                type: 2,
                title: '作品评析',
                shadeClose: true,
                shade: 0.8,
                area: ['480px', '540px'],
                content: '/major/workscomment' //iframe的url
            });
        }

        function schoolApply(id) {
            layer.open({
                type: 2,
                title: '申请咨询',
                shadeClose: true,
                shade: 0.8,
                area: ['800px', '430px'],
                content: '/school/schoolapply?id=' + id //iframe的url
            });
        }
    </script>
}
