@using Instart.Models
@model Instart.Models.AboutInstart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner展示图-->
@Html.Partial("PartialBanner", Instart.Models.Enums.EnumBannerPos.About)

<div class="maincont">
    <!--团队视频-->
    <div class="title">
        <h2>品牌视频</h2>
    </div>
    <div class="teamvideo">
        <video controls="controls" poster="@Model.ImgUrl" src="@Model.VideoUrl" title=""></video>
    </div>
    <div class="title">
        <h2>关于iNSTART</h2>
    </div>
    <div class="borderkuan">
        <!--Instart 简介-->
        <div class="inlist">
            <h2>一沙品牌</h2>
        </div>
        <div class="inconts">
            @Html.Raw(Model.Introduce)
        </div>
        <!--Instart 团队-->
        <div class="inlist">
            <h2>一沙教学</h2>
        </div>
        <div class="inconts">
            @Html.Raw(Model.Team)
        </div>
        <!--Instart 发展-->
        <div class="inlist">
            <h2>一沙愿景</h2>
        </div>
        <div class="inconts">
            @Html.Raw(Model.Develop)
        </div>
    </div>
    <!--Instart 特色-->
    <div class="title">
        <h2>一沙特色</h2>
    </div>
    <div class="tese com-cont">
        <ul>
            <li>
                <div class="teseimg"><a href="/about/feature?type=1"><img src="@Model.PreToProImg" alt="" /><b>Pre to Pro</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/feature?type=2"><img src="@Model.DivisionImg" alt="" /><b>学部制度</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/feature?type=4"><img src="@Model.WorkShopImg" alt="" /><b>Workshop</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/feature?type=5"><img src="@Model.StudioImg" alt="" /><b>24小时工作室</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/feature?type=6"><img src="@Model.CompanyImg" alt="" /><b>实习推荐</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/feature?type=8"><img src="@Model.ProgramsImg" alt="" /><b>驻地项目</b></a></div>
            </li>
        </ul>
    </div>
    <!--课程推荐-->
    @Html.Partial("PartialRecommendCourse")
</div>

