@using Instart.Models
@{
    ViewBag.Title = "OFFER管理";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
@section Head{
<style type="text/css">
    .w_con_left {
        width: 100%;
        height: auto;
        float: left;
        margin: 0px;
    }

    .w_ico {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

        .w_ico li {
            float: left;
            width: 250px;
            list-style: none;
            text-align: center;
            margin-bottom: 20px;
        }

            .w_ico li img {
                width: 200px;
                height: 200px;
                position: relative;
                top: 5px;
                border: none;
                border-radius: 5px;
            }

            .w_ico li p {
                margin-top: 10px;
            }
</style>
}
}

<div class="row">
    @Html.Partial("PartialSchool")
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding-top:75px;">
        <ol class="breadcrumb">
            <li><a href="/manage/student">成功学员</a></li>
            <li class="active">@ViewBag.StudentName - OFFER管理</li>
        </ol>

        <div>
            <a class="btn btn-success" style="float:left;" onclick="save()">保存</a>
        </div>

        <input type="hidden" id="studentId" name="studentId" value="@ViewBag.StudentId" />
        <div class="w_con_left">
            <ul class="w_ico">
                @if (ViewBag.SchoolList != null)
                {
                    foreach (School item in ViewBag.SchoolList)
                    {
                        <li class="icoli">
                            <img src="@item.Logo" style="width:150px;height:150px;border:1px solid #eee;" /><p>
                                <div class="checkbox">
                                    <label>
                                        @if (item.IsSelected)
                                        {
                                            <input type="checkbox" name="chkSchool" checked="checked" data-id="@item.Id" />@item.Name
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="chkSchool" data-id="@item.Id" />@item.Name
                                        }
                                    </label>
                                </div>
                            </p>
                        </li>
                    }
                }
            </ul>
        </div>

    </div>
</div>

@section Bottom{
    <script>
        function save() {
            var schoolIds = [];
            $("input[name='chkSchool']").each(function () {
                if ($(this).is(":checked")) {
                    schoolIds.push($(this).attr("data-id"));
                }
            })
            $.post('/manage/student/setschools', { 'studentId': $("#studentId").val(), 'schoolIds': schoolIds.join(',') }, function (slt) {
                if (slt && slt.success) {
                    layer.msg('保存成功');
                }
                else {
                    layer.msg(slt.message || '操作失败，请重试');
                }
            });
        }
    </script>
}


