@using Instart.Models
@using Instart.Web2.Infrastructures
@model Instart.Models.CourseSystem

@{
    ViewBag.Title = "课程体系设置";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @Html.Partial("PartialSchool")
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding-top:75px;">
        <ol class="breadcrumb">
            <li><a href="/manage/coursesystem">课程体系</a></li>
            <li class="active">@ViewBag.Action</li>
        </ol>

        @using (Html.BeginForm("Set", "CourseSystem", new
        {
            area = "Manage"
        }, FormMethod.Post, new
        {
            enctype = "multipart/form-data",
            id = "mainForm",
            @class = "form-horizontal edit-container-width",
            style = "width:800px !important;"
        }))
        {
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label class="col-sm-2 control-label">体系名称：</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">英文名：</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.NameEn, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">主题图片：</label>
                <div class="col-sm-10">
                    <img src="@Model.Picture" id="avatarPreview" style="width:80%;height:100px;border:1px solid #eee;" />
                    <input type="hidden" name="Picture" value="@Model.Picture" />
                    <a href="javascript:void(0)" onclick="$('#fileAvatar').click()" class="btn-link" style="position:relative;top:40px;">点击上传</a>
                    <input type='file' id='fileAvatar' name='fileAvatar' style='display:none;'>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Banner图片：</label>
                <div class="col-sm-10">
                    <img src="@Model.BannerImg" id="bannerPreview" style="width:80%;height:100px;border:1px solid #eee;" />
                    <input type="hidden" name="BannerImg" value="@Model.BannerImg" />
                    <a href="javascript:void(0)" onclick="$('#fileBanner').click()" class="btn-link" style="position:relative;top:40px;">点击上传</a>
                    <input type='file' id='fileBanner' name='fileBanner' style='display:none;'>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">体系简介：</label>
                <div class="col-sm-10">
                    <textarea name="Introduce" id="Introduce" rows="15" class="form-control">@Model.Introduce</textarea>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" class="btn btn-success" value="提交" onclick="save()" />
                </div>
            </div>
        }

    </div>
</div>

@section Bottom{
    <script>
        $(function () {
            $('#fileAvatar').change(function () {
                imagePreview(this.files[0], $("#avatarPreview"));
            });

            $('#fileBanner').change(function () {
                imagePreview(this.files[0], $("#bannerPreview"));
            });
        })
        function save() {
            var name = $("input[name='Name']").val();
            if (name == '') {
                layer.msg('体系名称不能为空。');
                return;
            }
            $("#mainForm").ajaxSubmit({
                success: function (slt) {
                    if (slt && slt.success) {
                        location.href = '@Url.Action("index", "coursesystem", new { area="manage"})';
                    }
                    else {
                        layer.msg(slt.message || '操作失败，请重试。');
                    }
                }
            });
        }
    </script>
}

