@using Instart.Models
@{
    ViewBag.Title = "擅长专业";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
@section Head{
    <style type="text/css">
        .w_con_left {
            width: 100%;
            height: auto;
            float: left;
            margin: 0px;
        }

        .w_ico {
            padding: 0;
            margin: 0;
            width: 100%;
            height: auto;
            margin-top: 10px;
        }

            .w_ico li {
                float: left;
                list-style: none;
                text-align: center;
                margin-bottom: 20px;
                margin-right: 20px;
            }

                .w_ico li img {
                    width: 200px;
                    height: 200px;
                    position: relative;
                    top: 5px;
                    border: none;
                    border-radius: 5px;
                }

                .w_ico li p {
                    margin-top: 10px;
                }
    </style>
}
<div class="row">
    @Html.Partial("PartialSchool")
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding-top:75px;">
        <ol class="breadcrumb">
            <li><a href="/manage/teacher">艺术导师</a></li>
            <li class="active">@ViewBag.TeacherName - 擅长专业</li>
        </ol>

        <div class="checkbox">
            <a class="btn btn-success" style="float:left;" onclick="save()">保存</a>
            <label style="float:left; margin-left:20px;margin-top:7px;">
                <input type="checkbox" name="chkAll" id="chkAll" />全选
            </label>
        </div>

        <input type="hidden" id="teacherId" name="teacherId" value="@ViewBag.TeacherId" />
        <div class="w_con_left">
            <ul class="w_ico">
                @if (ViewBag.MajorList != null)
                {
                    foreach (Major item in ViewBag.MajorList)
                    {
                        <li class="icoli">
                            <img src="@item.ImgUrl" style="width:150px;height:150px;border:1px solid #eee;" /><p>
                                <div class="checkbox">
                                    <label>
                                        @if (item.IsSelected)
                                        {
                                            <input type="checkbox" name="chkMajor" checked="checked" data-id="@item.Id" />@item.Name
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="chkMajor" data-id="@item.Id" />@item.Name
                                        }
                                    </label>
                                </div>
                            </p>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="checkbox">
            <a class="btn btn-success" style="float:left;" onclick="save()">保存</a>
        </div>
    </div>
</div>

@section Bottom{
    <script>
        $(function () {
            $("#chkAll").click(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $("input[name='chkMajor']").each(function () {
                        $(this).prop("checked", "checked");
                    })
                }
                else {
                    $("input[name='chkMajor']").each(function () {
                        $(this).prop("checked", "");
                    })
                }
            });
        })

        function save() {
            var majorIds = [];
            $("input[name='chkMajor']").each(function () {
                if ($(this).is(":checked")) {
                    majorIds.push($(this).attr("data-id"));
                }
            })
            $.post('/manage/teacher/setmajors', { 'teacherId': $("#teacherId").val(), 'majorIds': majorIds.join(',') }, function (slt) {
                if (slt && slt.success) {
                    layer.msg('保存成功');
                }
                else {
                    layer.msg(slt.message || '操作失败，请重试');
                }
            });
        }
    </script>
}

